/*
Colors used:
Primary background color (lt yellow): #fff8ea;
Font color (black): #000000;
Link color (seafoam green): #7ca693;
*/

* {
  box-sizing: border-box;
}

/* Layout styling */
.container {
  padding: 0 15px;
  
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}



nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}



#header {
  background-color: #c4dbd2;
  text-align: center;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 1em;
  margin: 10px;
  border-bottom: 5px solid #4a4a4a;
  border-right:  5px solid #4a4a4a;
  border-left:  5px solid #4a4a4a;
  border-top:  5px solid #4a4a4a;

}

#hero {
  background-color: #fff8ea;  

}

#hero h1 {
  text-align: left; 
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 2px;
}


#work {
  background-color: #fff8ea;
}

#contact {
  background-color: #fff8ea;
}


body {
    font-family: 'Nunito', sans-serif;

    background-color: #fff8ea;
    font-family: 'Nunito', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 500; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #000000;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 500;
  }
  
  h4 {
    font-size: 1.35em;
    font-weight: 500;
  }

  img {
  width: 100%;
  width: 1200px;

  }

  .logo {
    max-width: 250px;
  }
  
  .selfie {
    max-width: 350px;
  }
  
  .wn {
    max-width: 250px;
  }
  
  .tdoc {
    max-width: 350px;
  }
  
  .linkedin {
    max-width: 52px;
  }
  
  .home {
    max-width: 200px;
  }
  
  .main {
    max-width: 200px;
  }
  
  .prv {
    max-width: 200px;
  }
  
  .help {
    max-width: 200px;
  }



  a {
    color: #7ca693;
    text-decoration: none; /* No underlining */
  }
  a:hover {
    color: #7ca693;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
  a:visited { /* visited link */
    color: #796e86;
  }
  a:active { /* selected link */
    color: #684860;
  }
  a:hover,
  a:focus {
  color: #7ca693;
  text-decoration: underline;
}

.button.contact {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #c4dbd2;
    color: #151928; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #151928; /* width of the border, type, color */
    transition: 0.2s opacity;
  }
  .button.contact:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }

  .button.cv {
    display: inline-block; 
    background-color: #c4dbd2;
    color: #151928; /* needed to override the default link color */
    font-weight: 500;
    padding: 6px;
    border-radius: 3px;
    border-bottom: 2px solid #151928; /* width of the border, type, color */
    transition: 0.2s opacity;
  }
  .button.cv:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }