/*Colors used:Primary background color (lt yellow): #fff8ea;
Font color (black): #000000;
Link color (seafoam green): #7ca693;
*/

* {
	box-sizing: border-box;
}


/*=====================Layout styling=========================*/

.container {
	padding: 0 15px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.row {
	margin: 25px 0;
	/* 25px top and bottom, 0 left and right */
}
nav>ul {
	list-style-type: none;
	padding: 0;
}
nav>ul>li {
	display: inline-block;
}
nav>ul>li>a {
	padding: 0 15px;
	text-transform: uppercase;
	font-weight: 700;
	color: #4a4a4a;
}

#header {
	background-color: #c4dbd2;
	text-align: center;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 1em;
	margin: 10px;
	border-bottom: 5px solid #4a4a4a;
	border-right: 5px solid #4a4a4a;
	border-left: 5px solid #4a4a4a;
	border-top: 5px solid #4a4a4a;
}
#hero {
	background-color: #fff8ea;
	text-align: center;
}
#hero span {
	display: block;
}
#hero h1 {
	text-align: center;
	padding: 20px 0;
	display: block;
	width: 100%;
}
main {
	padding-top: 2px;
}
#work {
	background-color: #fff8ea;
}
#contact {
	background-color: #fff8ea;
    padding: 20px;
}


h1, h2, h3, h4 {
	line-height: 1.4;
}
h1 {
	font-size: 2.75em;
	font-weight: 700;
}
h2 {
	font-size: 2.25em;
	font-weight: 700;
}
h3 {
	font-size: 1.75em;
	font-weight: 500;
}
h4 {
	font-size: 1.35em;
	font-weight: 500;
}


body {
	background-color: #fff8ea;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	/* Sets the font size to 16px */
	font-weight: 500;
	/* Sets the font weight to 300 */
	line-height: 1.6;
	/* Sets the line-height to 1.6 * the font-size */
	color: #000000;
}

	/*set images to full-width*/
img {
	width: 100%;
  }

a {
	color: #7ca693;
	text-decoration: none;
	/* No underlining */
}
a:hover {
	color: #7ca693;
	text-decoration: underline;
	/* Underlining when hovering over a link */
}
a:visited {
	/* visited link */
	color: #796e86;
}
a:active {
	/* selected link */
	color: #684860;
}
a:hover, a:focus {
	color: #7ca693;
	text-decoration: underline;
}



/*================================Buttons Buttons Buttons==========================================*/

.buttoncontact {
	display: inline-block;
	background-color: #c4dbd2;
	color: #151928;
	/* needed to override the default link color */
	font-weight: 400;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid #151928;
	/* width of the border, type, color */
	transition-duration: 0.2s opacity;
}
.buttoncontact:hover {
	opacity: 0.8;
	/* Reduces the opacity of the button to 80% */
	text-decoration: none;
}
.buttoncv {
	display: inline-block;
	background-color: #c4dbd2;
	color: #151928;
	/* needed to override the default link color */
	font-weight: 500;
	padding: 6px;
	border-radius: 3px;
	border-bottom: 2px solid #151928;
	/* width of the border, type, color */
	transition-duration: 0.2s opacity;
}
.buttoncv:hover {
	opacity: 0.8;
	/* Reduces the opacity of the button to 80% */
	text-decoration: none;
}


/*================================Here is the animation stuff==========================================*/

.svg-animation {
	width: 100%;
	max-width: 100%;
	height: auto;
  }
  
  @keyframes color-change {
	0% {fill: #edc655;}
	50% {fill: #fcffad;}
	100% {fill: #f76414;}
  }
  
  .sun {
	animation-duration: 4s;
	animation-name: color-change;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
  }
  
  /*single line...
  .sun {
	animation: 4s color-change infinite alternate linear;
  }
  */
  
  @keyframes cloud-move {
	from {transform: translate(0,50px);}
	to {transform: translate(200px,50px);}
  }
  
  .cloud-front {
	animation-duration: 30s;
	animation-name: cloud-move;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
  }
  
  /*single line...
  .cloud-front {
	animation: 30s cloud-move infinite alternate linear;
  }
  */
  
  @keyframes cloud-move-reverse {
	from {transform: translate(446px,48px);}
	to {transform: translate(100px, 48px);}
  }
  
  .cloud-back {
	animation: 34s cloud-move-reverse infinite alternate linear;
  }



/* ============================These are classes for images=============================== */
.social {
	max-width: 32px;
}

.selfie {
	max-width: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.work {
	max-width: 650px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.logo {
	max-width: 450px;
	margin-top: 10px;
	margin-bottom: 10px;
  }


/* =====================================Media Queries======================================== */

/*clear page flow*/
.row::after {
	content: "";
	clear: both;
	display: table;
  }
  
/*float all columns left*/
  [class*="col-"] {
	padding: 10px;
  }

/* ============================Medium devices (640px and larger)================================= */

@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }
    nav {
        width: auto;
        float: none;
        margin-top: 4px;
    }
    .col-md-6 {
        width: 50%;
        padding: 6px;
    }
    [class*="col-"] {
        float: left;
    }
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
    .col-td {
        width: 25%;
        padding: 6px;
    }
}


/* ==============================Large devices (1024px or larger)================================= */
@media only screen and (min-width: 1024px) {
	.container {
	  max-width: 1200px;
	  margin-left: auto;
	  margin-right: auto;
	}
	.col-lg-7 {
	  width: 60%;
	}
  
	.col-lg-5 {
	  width: 40%;
	}
	  
	.col-lg-7 {
	  width: 60%;
	  float: left;
	  padding-bottom: 40px;
	}
	.col-lg-8 {
	  width: 40%;
	  float: right;
	}
	  
	 #about-page .col-md-6 {
	   width: 100%;
	}
  }

/* ==============================X-large devices (1440px or larger)================================= */

@media only screen and (min-width: 1440px) {}
/* ==============================Extra-large devices (1920px or larger)================================= */

@media only screen and (min-width: 1920px) {}